doctype html
html
  head
    title SensorThings API Datasets
    style.
      body {
        margin: 1em auto;
        max-width: 60%;
      }

      h1 {
        font-family: sans-serif;
      }
  body
    h1 Available Datasets in SensorThings API Instances

    if reports.length === 0
      p No reports available
    else
      ul
        each report in reports
          li 
            p Report:&nbsp;
              a(href="/" + report)
                code #{report}
